:root {
  --primary-01-A: #1f8d9e;
  --primary-01-B: #52b3c2;
  --primary-01-C: #66b6c2;

  --md-primary-fg-color: var(--primary-01-A);
}

.md-header {
  background-color: var(--primary-01-A);
}

[data-md-color-scheme="indigo"] {
  --md-hue: 210;
  --md-accent-fg-color: var(--primary-01-C);
}

[data-md-color-scheme="slate"] {
  --md-hue: 210;
  --md-accent-fg-color: var(--primary-01-C);
  .md-nav__item .md-nav__link--active {
    color: var(--primary-01-C);
  }
}

.md-tabs {
  background-color: var(--primary-01-A);
}

